@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

ul {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
}

a{
  text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

.App {
  margin: 0;
  position: relative;
  width: 1440px;
  height: 900px;
  background: linear-gradient(180deg, #FFFFFF 0%, #F7F9FA 100%);
}

.d_flex {
  display: flex;
  padding-top: 25px;
}

.col_1 {
  flex: 100%;
}

.col_2 {
  flex: 50%;
}

.col_3 {
  flex: 33.333%;
}

.col_4 {
  flex: 25%;
}

.col_5 {
  flex: 20%;
}

.col_6 {
  flex: 16.667%;
}

.col_7 {
  flex: 14.286%;
}

.col_8 {
  flex: 12.5%;
}

.col_9 {
  flex: 11.111%;
}

.col_10 {
  flex: 10%;
}

.col_11 {
  flex: 9.091%;
}

.col_12 {
  flex: 8.333%;
}

.btn-icon {
  background: #1890FF;
  border-radius: 4px;
  height: 40px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #FFF;
  cursor: pointer;
  margin-top: 24px;
}